@{
    ViewBag.Title = "About";
}
<div class="row">
    <div>
        <img src="~/Images/Cloudservice-1.jpg" />
        <figcaption class="col-md-offset-3">
            <p></p>
        </figcaption>
    </div>
</div>
<br />
<p><h3>Who We Are </h3></p>


<p> Welcome to Western Canada Business Technologies (WCBIZTECH)! 
    
    <p>We are your One-Stop Shop for software development, Cloud and Digital Transformation solutions. We are a team of innovative, pro-active, and result-driven Dot Net Developers. </p>
<p>Successful Organizations today are those that utilize modern sales and marketing techniques to reach their markets and adapt their products and services to the ever changing tastes and culture in the marketplace. Simply put, these Organizations are <strong><i>Dynamic!</i></strong> </p>
<p>    And, the core factor that drives efficiency in modern Organizations is their strong, internal networking and real-time information processing and accessibility systems. Simply put, their leverage is <i><strong>Technology!</strong></i></p>
<p>    In other words, successful Organizations are both <strong><i>Dynamic</i></strong> and <i><strong>Technology</strong></i> inclined.  They are those Organizations that have achieved the best fit in Business and Technology convergence, but not at a cut throat price. One tool that helps Organizations to take optimal decision on technology-based projects is Business & Systems Analysis.</p>
<p>    Western Canada Business Technologies specializes in helping Organizations adopt the right Business-Technology mix for optimal productivity.  We achieve this feat through our Offerings, which are; Business and Systems Analyses, Software Application Development, Design and Hosting of marketing-oriented Web Applications, Migration to the Cloud and Digital Transformation.</p>
<p>        Being Microsoft Partners, we utilize Microsoft technologies to serve our clients efficiently.  Our clients trust us for efficient, cost-effective service delivery.</p>
<p>
<p>Take the first step today. Let's conduct a Cloud Readiness Assessment so that together we will develop a road map for your digital transformation. Get in touch with us through this <a href="/SoftwareServiceRequests/Create">Digital Transformation Inquiry Form.</a></p>


