
@{
    ViewBag.Title = "AfterSubmission";
}

<h4 class="response">Form submitted successfully.</h4>
<p class="response">Thank you</p>
<p class="response">We hope to respond to you in a couple of days.</p>
<br />
<p class="response">@Html.ActionLink("Back to Home Page", "Index", "Home") </p>
