
@{
    ViewBag.Title = "ApplicationsDevelopment";
}

<div class="row">
    <h2 class="col-md-offset-3"></h2>
</div>
<br />
<div class="row">
    <div>
        <img src="~/Images/CloudServ-2.jpg" />
        <figcaption class="col-md-offset-3">
            <p><b>Built on one platform, accessed on multiple devices ... the power of Azure!</b></p>
        </figcaption>
    </div>
</div>
<br />
<p>
    <h3>
        Custom Application Development
    </h3>
</p>
<p>Change is expensive, especially when we have to restructure our core business processes to suite an out-of-the-box technology.  But, why do you have to change your business processes to suite technology when you can build applications that suite your business?</p>
<p>
    Whatever your business needs, we build applications that suit your need, whether it is
</p><br />
<ol class="btn-block">
    <li>Sales and Marketing Apps</li>
    <li>Purchasing & Supply Management</li>
    <li>Accounting</li>
    <li>Insurance</li>
    <li>Real Estate</li>
    <li>Retail</li>
    <li>Ticketing and Travels</li>
    <li>Events Planner</li>
    <li>Manufacturing Processes</li>
    <li>Human Resources</li>
</ol>
<p> to name a few.    </p>

<p>We deliver fully functional, built-to-suite, applications at a competitive price.  We leverage Microsoft stack of technologies to build for our clients applications that reflect latest trends in the industry. Built on one platform and accessed on all media types (Android, Tablet, Web, etc).</p>

<p><h3>COT Applications</h3></p>
<p>
    Where client’s needs would be better satisfied with an exist Commercial-Off-The-Shelf (COT) applications we would not hesitate to recommend and, if possible, implement it for our clients.
</p>
<p>
    Is your Organization thinking of automation lately? Contact us today and let’s have a chat.
    @Html.ActionLink("Contact Us.", "Create", "SoftwareServiceRequests")
</p>
@Html.ActionLink("Back to Home Page", "Index", "Home")
<br />
<br />
