
@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div>
        <img src="~/Images/Cloudservice-1.jpg" />
        <figcaption class="col-md-offset-3">
            <p></p>
        </figcaption>
    </div>
</div>
<br />

<div class="row">
    <p>
        <h2>Business Analysis</h2>
    </p>


   
        <p>Organizations spend huge sums of money on execution of projects. Statistics show that over 50% of these projects usually end up as drain pipes. In the IT industry particularly, over 65% of IT projects fail, and that is a waste of over $70 billion annually.  The Business Analyses Profession came into being to alleviate this burden for Organizations.</p>

        <p>    Western Canada Business Technologies offers Business Analyses Services to Organizations enabling them to execute their projects with proper management of the triple threats factors – Time Lag, Scope Creep, and Budget Expansion.</p>


        <p><h3><strong>    Our Skills</strong></h3></p>

        <p>It is well known fact that failure of most projects is usually traceable to poor definition of Business Requirements, and aggravated by poor and ineffective communication skills.  At Western Canada Business Technologies, we are highly skilled and experienced in all BA Deliverables.  We possess strong communication skills, problem solving skills, and the ability to understand and respond to user needs in rapidly changing business environments.  While specializing in Business Analyses, we possess experience in Project Management and Change Management, which make us so versatile and able to execute, not just IT based projects, but also projects that are within a change management department or coordinating and managing change across the whole business.  Whether it is Enterprise Resource Planning (ERP), software that helps to control business functions such as manufacturing, supply chain management, financials, human resources and customer relationship management; launching new products, entering new markets, to name a few; our versatility and proficiency make us stand out in efficient delivery of BA services within time and budget.</p>

        <p>
            <h3><strong>Our Expertise</strong></h3>
        </p>

        <p>Our projects are executed with high level of expertise.  Our Consulting Officers are experts in their field with many years of experience in Business Analysis; Consulting and project execution.</p>

        <p>    “A BA provides a specialized capability that can make the difference between a project that succeeds and one that struggles.” Karl Wiegers.</p>

        <p>
            Thinking lately of executing a project? Give us a call today or fill out the contact form below, or else send us an email on longinus.ekeh@wcbizc.com.
            @Html.ActionLink("Contact Us.", "Create", "SoftwareServiceRequests")
        </p>
        @Html.ActionLink("Back to Home Page", "Index", "Home")
        <br />
        <br />

    </div>



