@{
    ViewBag.Title = "CoreValues";
}

<div class="row">
    <div>
        <img src="~/Images/Cloudservice-1.jpg" />
        <figcaption class="col-md-offset-3">
            <p></p>
        </figcaption>
    </div>
</div>
<br />



<h2>Our Core Values</h2>
<br />
<p>Our business is built on the principles of;</p>

<p><strong>Integrity:</strong></p>
<p>Our word is our bond! Our pledge to our clients is the offering of cutting-edge, Microsoft based Cloud Technologies with expertise, sincerity, honesty, and with the benefits of the client at heart.  At Western Canada Business Consulting, we say what we do, and we do what we say.</p>

<p><strong>Relationship:</strong></p>

<p>Our interest does not end with our contract.  We view every contract and interaction with the client as an opportunity to build lasting relationship.  We deliver our Business Solutions so efficiently that we would be proud to check on you again.  We have developed a client feedback system, which keeps us in touch with our clients and helps us monitor the effectiveness of our Business Solutions in our client Organizations.</p>

<p><strong> Quality:</strong></p>
<p> Our services carry a stamp of quality! As Microsoft Partners, we replicate the standards and quality of Microsoft in service delivery.  Our Microsoft Certifications is the proof.</p>

<p><strong>Confidentiality:</strong></p>
<p> We realize that the Software Development process lets us into the confidential records and information of client Organizations.  We make sure that all confidential information is treated with confidence. We do not release the confidential information of one Organization to the other without a written permission from the proprietary Organization.</p>

<p><strong>Accountability:</strong></p>
<p>Responsibility impels Accountability! At Western Canada Business Technologies, we accept responsibility for the result of our Business Solutions. We have adopted the principles of Accountability Partners; we do not only render accountability to the team, but we also render accountability to our client Organizations on the discharge of the Business Solution Contract.</p>
@Html.ActionLink("Back to Home Page", "Index", "Home")
<br />
<br />


