
@{
    ViewBag.Title = "EnterpriseMobility";
}



<div class="row">
    <div>
        <img src="~/Images/WhyMicrosoft-1.jpg" />
        <figcaption class="col-md-offset-3">
            <p><i></i></p>
        </figcaption>
    </div>
</div>
<br />

<p>
    <h3>
        Enterprise Mobile Identity and Access Security
    </h3>
</p>
<p>
    Aviva realized technology had moved forward, and advances in consumer mobile devices and cloud computing opened up new opportunities. In 2012 most of the constraints faced by Aviva before had eased as storage and processing costs had gone down, and the power of mobile phones was amazing compared to what was available in 2006.
</p>
<p>
    Aviva implemented a hybrid-cloud solution based on the Microsoft Azure platform that connects mobile devices, on-premises applications, and social media, “allowing Aviva to connect to their customers in new ways especially with new and younger drivers.”
</p>
<p>
    The company launched the solution in the consumer marketplace only eight months after the first trial project with fleet cars. UK drivers can download the free app from Google Play or the Aviva website. Running on Android and iPhones smartphones, the software works with the phones’ built-in GPS technology and sensors to collect and send telematics data to Microsoft Azure, including information on braking, cornering, and acceleration behavior. After 200 miles, the app assigns the driver a score that the quote system uses to calculate a personalized quota.
</p>
<p>
    Drivers use social media to share scores and compete with other motorists on leaderboards. The social media integration encourages drivers to use the app and also attracts attention to the project through channels such as Twitter feeds and the Facebook fan page and status updates. Aviva achieved 100Mil Facebook impressions in five months
</p>
<p>
    Instead of deploying expensive, costly IT infrastructure, the company is using Microsoft cloud services to expand its offerings while taking advantage of consumer trends in social media and mobility. In real-world terms, this means the company can quickly provide exciting new solutions that improve service and help people save money.
</p>

<p>
    The above case study underscores the power of Microsoft Enterprise Mobility.
</p>
<p>
    Enterprise mobility suite from Microsoft unifies user, data, and device management in a people-centric approach to give employees the freedom to work productively from anywhere on virtually any device—with full, protected access monitored and managed easily and effectively by IT.
</p>
<p>
    Microsoft advocates a people-centric approach to managing enterprise mobility.  We have strong capabilities to manage user identity, devices, and data protection—all to help address three constants: empowering users, protecting data, and controlling costs and resources.
</p>
<p>
    The Microsoft people-centric approach builds on existing investments and skills and offers a credible one-vendor solution to customers looking to rationalize their environment.
</p>
<p><h3>
  Empower your users:
</h3></p>
Enable users to be more productive by providing consistent self-service access to corporate apps and data across a wide range of devices.
<p>
    •	Enable users to work on the device of their choice.
</p>
<p>
    •	Enhance end-user productivity with self-service and SSO experiences.
</p>
<p>
    •	Access company resources consistently across devices.
</p>
<p>
    •	Support modern work styles.
</p>
<p><h3>
    Help IT protect your data:
</h3></p>
<p>
    Build on existing technology and skillset investments, extend workloads to the cloud for efficiency and increased functionality, and build a forward-looking approach to managing the technologies your people use to be as productive as possible.
</p>
<p>
    •	Protect corporate information with remote data and application control.
</p>
<p>
    •	Deliver policy-based access control to corporate applications and data.
</p>
<p>
    •	Enable selective wipe for lost or stolen devices.
</p>
<p><h3>
    Unify your environment:
</h3></p>
<p>
    Give IT the tools to protect corporate data, manage devices, and ensure users have approved access on approved devices.
</p>
<p>
    •	Access on-premises and in the cloud resources with common identity.
</p>
<p>
    •	Unify management of on-premises and cloud-based devices.
</p>
<p>
    •	Provide comprehensive settings management across platforms.
</p>
