
@{
    ViewBag.Title = "OurMission";
}
<div class="row">
    <div>
        <img src="~/Images/Cloudservice-1.jpg" />
        <figcaption class="col-md-offset-3">
            <p></p>
        </figcaption>
    </div>
</div>
<br />

<h2>Our Mission</h2>

<p>At Western Canada Business Technologies (WCBIZTECH), we recognize that the secret of successful Organizations is leveraging the power of technology. Our goal therefore, is to aid Organisations’ development by helping them acquire the right information technology system for their business sector, marketing segment and growth targets.</p>
<p>Western Canada Business Technologies is here to help Organizations adopt Technologies to facilitate business growth.  We develop and deploy software applications that best suite each Organization, whether it be for Human Resource, Accounting, Production, Sales and Marketing, Service Delivery or for any other purpose.</p>

<p>Our offerings, which include, Custom Application Development, Customer Relationship Management (CRM) Application, Business Analysis, and Web Development and Hosting, are powered by Microsoft Technologies.</p>



<p>We partner with Organizations, both private and public, in the achievement of their goals by providing to them cutting-edge business technologies, utilizing Microsoft Solutions stack, which provide guaranty of quality, customer support, flexibility and cost-effectiveness with continuity.</p>

<p>We are Microsoft Partners and we offer a suit of Microsoft Technologies that have the capabilities to give your business the edge it deserves in the marketplace.</p>
@Html.ActionLink("Back to Home Page", "Index", "Home")
<br />
<br />