
@{
    ViewBag.Title = "WebHosting";
}



<div class="row">
    <div>
        <img src="~/Images/CloudServ-1.jpg" />
        <figcaption class="col-md-offset-3">
            <p><i><b>Microsoft Technologies ... Trusted for reliability, scalability, accessibility and maintenability.</b></i></p>
        </figcaption>
    </div>
</div>
<br />
<br />
<p><h3>Web Hosting</h3></p>
<p>We design, development and host modern websites that suite your business.  Modern websites are responsive, scalable, attractive and communicative.  We build websites that reflect your Organization’s culture, business, core values, goals and objectives.</p>
<p>We can customize your own web templates, or design and build from the scratch.</p>
<p>We leverage Microsoft Cloud Platforms to host web applications, which provides the guaranty of sustainability, scalability and reliability.</p>
<p>Are you thinking of placing your business on the web? Contact us today and let’s chat.
    @Html.ActionLink("Contact Us.", "Create", "SoftwareServiceRequests")  </p>
@Html.ActionLink("Back to Home Page", "Index", "Home")
<br />
<br />

