

<h2>Admin Main Page</h2>



   
<p>@Html.ActionLink("Manage Contacts List", "Index", "Contacts", new { Area = "" }, null);</p>
<p>@Html.ActionLink("Manage List of Software Services Requests", "Index", "SoftwareServiceRequests", new { Area = "" }, null);</p>

